    body { 
        font-family: Arial, sans-serif;
        margin: 0;
        padding:0;
        opacity: 88%; 
        padding-left: 40px;
        
        }
        
     .home {
        background-color: #feffff;
        font-family: Arial, sans-serif;
        margin: 0;
        padding-left: 40px;
           
            
        background-image: url(icon/HH\ icon\ 2.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 50%;
          
     }   
        
    nav  {
            background: linear-gradient (to right, #a0e7e5, #a0e7e5, #b4f8c8, #fbe7c6)
            padding: 20px;
            text-align: center;
            border-bottom: #ffb3c6;
            box-shadow: 0 4px 6px rgba (0, 0, 0, 0.1);
            
         }

     nav a {
            color: #444;
            text-decoration: none;
            margin: 20px;
            font-size: 18px;
            font-weight: bold;
            font-family: "trebuchet ms", sans-serif;
            transition: color 0.3s ease;
            position: relative;
            transition: color 0.3s ease;

    } 

    nav a::after {
            content: "";
            position: absolute;
            width: 0;
            height: 3px;
            background: #ffb3c6;
            left: 0;
            bottom: -5px;
            transition: width 0.3s ease;
          
        }
        
    nav a:hover {
            color: #ff69b4;
        }
       
        nav a:hover::after {
            width: 100%;
        }

    h1 {
            padding: 20px;
            text-align: auto;
            margin-top: 50px;
            background-color: #FFB6C1;
            opacity: 0.88;
        }

    h2 {
            padding: 20px;
            text-align: auto;
            margin-top: 50px;
            background-color: #FFB6C1;
            opacity: ;
        }

    h3 {
            padding: 20px;
            text-align: auto;
            margin-top: 50px;
            background-color: #FFB6C1;
            opacity: 0.88;
        }
        
    p {
            text-align: auto;
            padding: 20px
         }

    .home p {
            text-align: auto;
            padding: 20px; 
            background-color: aquamarine;
            opacity: 0.88;

        }

    caption {
            font-weight: bold;
            margin-bottom: 10px;
            font-size: larger;
        }

    table {
            margin: 20px;
            border-collapse: collapse;
            width: 50%;
            tr:hover {background-color: turquoise;}
        }
    th, td {
            border: 1px solid #080808;
            padding: 8px;
            text-align: left;
        }
    th {
            background-color: rgb(245, 252, 152);
            text-align: center;
        }

    tr:nth-child(even) {
            background-color: #f7b7de;
            tr:nth-child(odd) {
            background-color: #e1ebc6;
        }

    div.table-container {
            overflow-x: auto;
        }   

    ul {
            margin: 20px;
            padding: 20px;;
        }

    img {
            display: left;
            margin: 20px auto;
            max-width: 100%;
            height: auto;
            padding: 20px;
           
        }

     
       