    body { background-color: gainsboro;
        font-family: Arial, sans-serif;
        margin: 0;
        padding:0;
        opacity: 88%; 
        padding-left: 40px;
        
        }
        
     .home {
        background-color: #feffff;
        font-family: Arial, sans-serif;
        margin: 0;
        padding-left: 40px;
           
            
        background-image: url(icon/HH\ icon\ 2.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 50%;
          
     }   
        
    nav  {
            background: #333;
            text-align: center;
            padding: 20px;
            color: white;
         }

     nav a {
            color: white;
            margin: 20px;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            transition: color 0.3s ease;
            letter-spacing: 2px;
            text-transform: uppercase;

    } 

    nav a::after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            background: #ffcc00;
            left: 0;
            bottom: -5px;
            transition: width 0.3s ease;
          
        }
        
    nav a:hover {
            color: #ffcc00;
        }
       
    h1 {
            padding: 20px;
            text-align: auto;
            margin-top: 50px;
            background-color: #FFB6C1;
            opacity: 0.88;
        }

    h2 {
            padding: 20px;
            text-align: auto;
            margin-top: 50px;
            background-color: #FFB6C1;
            opacity: ;
        }

    h3 {
            padding: 20px;
            text-align: auto;
            margin-top: 50px;
            background-color: #FFB6C1;
            opacity: 0.88;
        }
        
    p {
            text-align: auto;
            padding: 20px
         }

    .home p {
            text-align: auto;
            padding: 20px; 
            background-color: aquamarine;
            opacity: 0.88;

        }

    caption {
            font-weight: bold;
            margin-bottom: 10px;
            font-size: larger;
        }

    table {
            margin: 20px;
            border-collapse: collapse;
            width: 50%;
            tr:hover {background-color: turquoise;}
        }
    th, td {
            border: 1px solid #080808;
            padding: 8px;
            text-align: left;
        }
     th {
            background-color: rgb(245, 252, 152);
            text-align: center;
        }

    tr:nth-child(even) {
            background-color: #f7b7de;
            tr:nth-child(odd) {
            background-color: #e1ebc6;
        }

        div.table-container {
            overflow-x: auto;
        }   

        ul {
            margin: 20px;
            padding: 20px;;
        }

        img {
            display: left;
            margin: 20px auto;
            max-width: 100%;
            height: auto;
            padding: 20px;
           
        }

     
        