 body { background-color: #f5f5f5;
        font-family: Arial, sans-serif;
        margin: 0;
        padding:0;}
        
        nav  {background: #333;
        text-align: center;;
         padding: 50px}
       
        h1 {
            padding: 20px;
            text-align: auto;
            margin-top: 50px;}

        h2 {
            padding: 20px;
            text-align: auto;
            margin-top: 50px;
        }

        h3 {
            padding: 20px;
            text-align: auto;
            margin-top: 50px;
        }
        p {
            text-align: auto;
            padding: 20px;
        }

        caption {
            font-weight: bold;
            margin-bottom: 10px;
        }

        table {
            margin: 20px;
            border-collapse: collapse;
            width: 80%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        ul {
            margin: 20px;
            padding: 20px;;
        }