    body { background-color: #a6dddd;
        font-family: Arial, sans-serif;
        margin: 0;
        padding:0;
        
        }
        
     .home {
        background-color: #feffff;
        font-family: Arial, sans-serif;
        margin: 0;
        padding:20;
           
            
        background-image: url(icon/HH\ icon\ 2.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 50%;
      

        
       


     }   
        
        nav  {background: #333;
        text-align: center;;
         padding: 50px;
         font-color: white;
         }
       
        h1 {
            padding: 20px;
            text-align: auto;
            margin-top: 50px;
            background-color: #FFB6C1;
        }

        h2 {
            padding: 20px;
            text-align: auto;
            margin-top: 50px;
            background-color: #FFB6C1;
        }

        h3 {
            padding: 20px;
            text-align: auto;
            margin-top: 50px;
            background-color: #FFB6C1;
        }
        p {
            text-align: auto;
            padding: 20px; 
           ;
        }

        .home p {
            text-align: auto;
            padding: 20px; 
            background-color: aquamarine;
            opacity: 0.88;

           ;
        }

        caption {
            font-weight: bold;
            margin-bottom: 10px;
        }

        table {
            margin: 20px;
            border-collapse: collapse;
            width: 50%;
            tr:hover {background-color: turquoise;}
        }
        th, td {
            border: 1px solid #080808;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: grey;
        }

        tr:nth-child(even) {
            background-color: #f7b7de;
            tr:nth-child(odd) {
            background-color: #e1ebc6;
        }

        div.table-container {
            overflow-x: auto;
        }   

        ul {
            margin: 20px;
            padding: 20px;;
        }

        img {
            display: left;
            margin: 20px auto;
            max-width: 100%;
            height: auto;
            padding: 20px;
           
        }

     
        